<!DOCTYPE html>
<html>
<head>
    <title><%= "Project 2" %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1><%= "Project 2" %></h1>
<i><subtitle> Welcome to <%= "Project 2" %></subtitle></i> <br>
<img src="http://wallpaperbeta.com/wallpaper_800x600/sky_height_clouds_form_paradise_stuff_800x600_hd-wallpaper-246869.jpg" />


