<% include partials/header %>
<div style="margin-top:10px;">
    <a href="/accounts/?account_id=1">Account By ID</a><br>
    <a href="/accounts/all">All Accounts</a><br>
    <br />
    <a href="/schools/?school_id=1">School By ID</a><br>
    <a href="/schools/all">All Schools</a><br>
    <br>
    <a href="/userJobView/userJobView"> UserJobView</a><br>

    <p> <strong> Lab 9 Stuff: </strong></p>
    <a href="users/create"><em>Create New User</em></a>
    <br />
    <a href="uni/create"><em>Create New School</em></a>
    <br />
    <a href="company/create"><em>Create New Company</em></a>
    <br />


    <p><strong> Lab 10 Links </strong></p>
    <a href ="company/all"><em> View All Companies/Edit/Delete</em></a>

</div>
<% include partials/footer %>