<% include partials/header %>
<p> <strong> This is a list of prevalent for making and editing your resumes links: </strong> </p>
<a href="res/create"><em> Create Resume </em> </a> <br>
<a href ="resume/all"><em> View Resumes/Edit/Delete</em></a> <br>
<br>
<br>
<p><strong>Login Page: </strong></p>
<a href ="/login"> Login Here!</a> <br>
<p><strong> Admin Tab: </strong></p>
<a href ="/admin"> Lab 8-10 Links</a> <br>
<% include partials/footer %>
